[Unit]
Description=Flask Edge Controller Server
After=multi-user.target

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/python /usr/local/bin/edge-controller.py

[Install]
WantedBy=multi-user.target

